[alias]
	co = checkout
	ci = comitt
	st = status
	br = branch
	hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
	type = cat-file -t
	dump = cat-file -p
[push]
	default = simple
[core]
	pager = less -+F -+X
[user]
	name = trml
	email = trml@users.noreply.github.com
