[alias]
	hist = log --pretty=format:'%C(yellow)%h %C(cyan)%ad %C(reset)| %s%d %C(green)[%an]' --abbrev=11 --date=short --graph --no-merges
	branches = for-each-ref --sort='-authordate:iso8601' --count=35 --format=' %(color:cyan)%(authordate:relative)%09%(color:white)%(refname:short)' refs/heads
[push]
	default = simple
[color]
	diff = always
[core]
	;pager = less --tabs=4
	pager = diff-so-fancy | less --tabs=4
[diff]
	wsErrorHighlight = all
[color "diff"]
	whitespace = "red reverse"
;[pager]
	;diff = git diff --color-words | less -R --tabs=4 ; piping git diff to git diff to get --color-words
	;diff = git diff --color-words='[^[:space:]_]+|[^[:space:]]_[:space:]]+|[[:space:]+]' --word-diff=plain | less -R --tabs=4 ; piping git diff to git diff to get --color-words
	;diff = git diff --color-words='[^[:space:]+]+|:space:*' | less -R --tabs=4 ; piping git diff to git diff to get --color-words
	;diff = git diff --color-words='.*' | less -R --tabs=4 ; piping git diff to git diff to get --color-words
[color]
	diff = auto
	ui = auto
[diff-so-fancy]
	useUnicodeRuler = false
	rulerWidth = 47
[user]
	name = trml
	email = trml@users.noreply.github.com
